
<h1>Welcome to Yelpdemo!</h1>
<h2>This is one of the sample applications for <a href="http://www.BaseRails.com">BaseRails</a><p> a platform that teaches people to build awesome custom websites
with Ruby on Raols programming language</p>
